include classpath("application.conf")

node-address {
    protocol = http
    host = localhost
    port = 9324
    context-path = ""
}

rest-sqs {
    enabled = true
    bind-port = 9324
    bind-hostname = "127.0.0.1"
    sqs-limits = strict
}

queues {
    "queue-one-deadletter.fifo" {
        defaultVisibilityTimeout = 10 seconds
        delay = 0 seconds
        receiveMessageWait = 0 seconds
        fifo = true
        contentBasedDeduplication = true
    }
    
    "queue-one.fifo" {
        defaultVisibilityTimeout = 10 seconds
        delay = 0 seconds
        receiveMessageWait = 0 seconds
        deadLettersQueue {
            name = "queue-one-deadletter.fifo"
            maxReceiveCount = 3
        }
        fifo = true
        contentBasedDeduplication = true
    }
}

// Generate node-address on the first available port

aws {
    region = us-east-1
    accountId = 000000000000
}